<!--<app-test-calculator></app-test-calculator>-->
<!--<br>-->
<!--<app-color-picker></app-color-picker>-->
<!--<br>-->
<!--<app-thuchanh-name-card cardName="Professional Dev" email="prodev@abc.xyz" phone="0123456789"></app-thuchanh-name-card>-->
<!--<br>-->
<!--<app-thuchanh-progress-bar width="65"></app-thuchanh-progress-bar>-->
<!--<br>-->
<!--<app-rating-bar [max]="5"></app-rating-bar>-->
<!--<br>-->
<!--<app-test-video></app-test-video>-->
<!--<br>-->
<!--<app-test-input-parent></app-test-input-parent>-->

<a routerLink="/video" >Input&Button</a> &nbsp;
<a routerLink="/calculator">Calculator</a>&nbsp;
<a routerLink="/color-picker">Color Picker</a>&nbsp;
<a routerLink="name-card">Name Card</a>&nbsp;
<a routerLink="input">Parent&Child</a>&nbsp;
<a routerLink="todo">App Todo</a>&nbsp;
<a routerLink="register">Bài Tập Form Đăng Kí</a>&nbsp;
<a routerLink="test-form">Test Form</a>
<br><br>
<nav>
  <a routerLink="timelines" > Ứng dụng tính thời gian </a>&nbsp;
  <a routerLink="youtube">Youtube</a>&nbsp;
  <a routerLink="dictionary" class="link">Dictionary</a>&nbsp;
  <a routerLink="gallery">Gallery</a>
  <a routerLink="slide">slide</a>&nbsp;
  <a routerLink="blog">Thực Hành Blog</a>
</nav>

<router-outlet></router-outlet>
<!--<app-baitap-img-slider>-->
<!--  <app-img-slide>-->
<!--    <img src="https://via.placeholder.com/1280x420/e91e63/ffffff?text=1" alt="">-->
<!--  </app-img-slide>-->
<!--  <app-img-slide>-->
<!--    <img src="https://via.placeholder.com/1280x420/e91e63/ffffff?text=2" alt="">-->
<!--  </app-img-slide>-->
<!--  <app-img-slide>-->
<!--    <img src="https://via.placeholder.com/1280x420/e91e63/ffffff?text=3" alt="">-->
<!--  </app-img-slide>-->
<!--</app-baitap-img-slider>-->



<!--<br>-->
<!--<app-app-registration></app-app-registration>-->

